@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600;700&family=Anton&family=Bebas+Neue&family=Instrument+Serif:ital@0;1&family=Neucha&family=Oxygen:wght@300;400;700&family=Phudu:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100&family=Sedgwick+Ave+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: bisque;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

/**************************PÁGINA INDEX**************/

.icono-nav{
    background-color:rgb(158, 124, 124);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid rgb(22, 19, 19);
}



.items-nav{
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(238, 238, 131);
    font-size: 1.5rem;

}

.items-nav:hover{
    color: orange;
    background-color: rgb(36, 33, 33);
}

.items-nav:focus{
    background-color: grey;
    color: orange;
}

/***************************BANNER CON ANIMACIÓN PÁGINA INDEX**********************/


.titulo-logo{
    display: flex;
    text-align: center;
    justify-content:center;
    background-color: black;
    gap: 0.5rem;
}

.titulo-logo h1{
    color: rgb(238, 238, 131);
    text-shadow: 3px -3px 3px orangered;
    font-family: 'Phudu', cursive;
    font-size: 3rem;
    font-weight: 900;

}

.titulo-logo img{
    width: 50px;
}

.banner {
    height: 600px;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
}
    

    .capa {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(0, 0, 0, 0.3);
    }

    @keyframes banner {
        0%,
        20% {
            background-image: url("../image/banner-1.webp");
        }
        20%,
        40% {
            background-image: url("../image/banner-2.webp");
        }
        40%,
        60% {
            background-image: url("../image/banner-3.png");
        }
        60%,
        80% {
            background-image: url("../image/banner-4.jpg");
        }

        80%,
        100% {
            background-image: url("../image/banner-5.jpg");
        }
    }


    
       .cartel-gatitos{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin:1rem ;
        padding: 1rem;
        border-radius: 10%;
        gap: 1rem;
    }
    
    .cartel-gatitos p{
        font-size: 1rem;
        line-height: 2rem;
        font-family: 'Anton', sans-serif;
        color: rgb(234, 234, 150);
        text-shadow: 1px 1px 1px black;
        background-color: black;
        box-shadow: 2px -2px 2px gray;
        border-radius: 20px;
        padding-inline: 2rem;
    
    
    }

    .cartel-gatitos img{
        filter:drop-shadow(-24px 6px 112px  rgb(234, 234, 150) );
    
    }
    
    /*****************MAIN PÁGINA INDEX******************/



    .dona{
        text-align: center;
        background-color: black;
        margin: 1rem;
        padding: 1rem;
        border-radius: 40px;
    }
    
    
    .dona h3{
    font-family: 'Phudu', cursive;
    color: rgb(217, 147, 16);
    font-size: 2rem;
    font-weight: bold;
    }
    
    
    .dona p{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    color: rgb(234, 234, 150);
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px black;
    
    }

    .btn-productos{
    font-family: 'Anton', sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
    
    }

    
    .btn-productos a{
        text-decoration: none;
        color: black;
    }
    
    .btn-productos:hover{
        color: grey;
        background-color: yellow;
    }

/**************************SECCIÓN NUEVOS INGRESOS***************************/

.nuevos-ingresos{
    background-image: url(../image/nuevos-gatos.webp);
    height: 500px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    padding: 1rem;
    cursor: pointer;
}

.nuevos-ingresos:hover{
    box-shadow: 3px -3px 3px rgb(0, 0, 0, 0.6);
    border: 2px solid rgb(0, 0, 0, 0.6);
   
}

.nuevos-ingresos h3{
    font-size: 2rem;
    color: rgb(234, 234, 150);
    font-family: 'Phudu', cursive;
    font-weight: 400;
    text-shadow: 3px -3px 3px black;
}

.titulo-nuevos-ingresos{
    text-align: center;
    background-color: black;
    color: orange;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 900;

}

/**********este es el contenido js que aparecerá al tocar la imagen estos son nuestros nuevos amigos****/

.contenedor-nuevos-amigos{
    background-color: black;
    border-radius: 30px;
    padding: 1rem;

}

.gatos-nuevos-estilo{
    background-color: orange;
    text-shadow: 1px 1px 1px orangered;
    font-family: 'Anton', sans-serif;
    padding: 1rem;
    letter-spacing: 0.3rem;

   }

   #img-gato-mostrar{
    display: none;

}

#ficha{
    display: none;
}

   .btn-nuevos-ver{
    padding: 1rem;
    border-radius: 50px;
    background-color: black;
   }

   .btn-nuevos-ver a{
    background-color: black;
    color: orange;
    font-family: 'Phudu', cursive;
   padding: 2rem;
   font-size: 1.5rem;
   border: 1px solid orange;
   }

   .btn-nuevos-ver a:hover{
    color: yellow;
    border: 1px solid yellow;
   }

   .btn-ocultar-gato{
    background-color: black;
    color: orange;
    border:0 ;
    padding: 15px 10px;
    font-family: 'Phudu', cursive;
    display: flex;
    justify-content: center;
    align-items: center;

   }

   .btn-ocultar-gato:hover{
    color: yellow;
    border: 2px solid yellow;
   }

/****************************SECCIÓN ADOPTAR***********************/

   .adoptar{
    background-image: url(../image/gato-saluda.webp);
    height: 500px;
    margin: 1rem;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.adoptar  a{
    background-color: black ;
    font-size: 2rem;
    color: yellow;
    text-shadow: 1px 1px 1px orangered;
    font-family: fantasy;
    border: 1px solid black;
    padding-inline: 2rem;
    border-radius: 40px;
}



.adoptar:hover a{
    color: orange;
    background-color: black;
}


/*********************FORMULARIO DE CONTACTO***********************/

.titulo-formulario{
    margin: 0.5rem;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    color: rgb(234, 234, 150);
    text-shadow: 1px 1px 1px black;
}


form{
    background-color: black;
    box-shadow: 4px -4px 4px black;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 40px;
}

form input{
    font-family: 'Anton', sans-serif;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgb(234, 234, 150);

}

form textarea{
    font-family: 'Anton', sans-serif;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid rgb(234, 234, 150);

}

.btn-form{
    background-color: rgb(238, 238, 131);
    color: black;
    font-weight: 600;
    font-family: 'Phudu', cursive;
    border: 0;
    padding: 0.5rem;
    border-radius: 30px;
    margin-bottom: 0.8rem;
}

.btn-form:hover{
    color: red;
    background-color: yellow;
}

/***********************PÁGINA ADOPCIÓN************************************/

.amiguitos-seccion{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(234, 234, 150);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
    text-shadow: 1px -1px 1px black;
    font-weight: 400;
    background-color: black;
    margin: 0.5rem;
    padding: 1rem;
    gap: 0.3rem;
}

.amiguitos-seccion img{

    width: 40px;
}

.card-title{
    color: rgb(212, 160, 63);
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
    font-family: 'Bebas Neue', sans-serif;
    cursor: pointer;
}


.card-text{
    color: rgb(238, 238, 131);
    font-family: 'Segoe UI';
    font-size: 1rem;
    
}

.titulo-adopcion h3{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    color:rgb(238, 238, 131);
    background-color: black;
    padding: 0.2rem;
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;

}

.titulo-adopcion h3:hover{
    color: orange;
    border: 1px solid orange;
}

.card-text-adopcion {
    color: rgb(232, 232, 148);
    text-shadow: 1px -1px 1px black;
    font-family: 'Poppins', sans-serif;


}

#cerrar-info{
    display: none;
    }
    
    .titulo-tips-adoptar{
        color: rgb(232, 232, 148);
    font-family: 'Poppins', sans-serif;

    }

    .colaboradores{

        background-image: url(..);
    }

    .colaboradores h3{
    color: rgb(232, 232, 148);
    background-color: black;
    margin: 0.8rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 900;
    padding-inline: 1rem;
    margin-inline: 1rem;
    text-align: center;

    }

    #lista-colaboradores{
        color: black;
        font-family: 'Phudu', cursive;
        text-shadow: 2px -2px 2px  orange;
        font-weight: 800;
        font-size: 1.3rem;
        text-align: center;
        line-height: 2rem;

     

    }

   




    /*******************página carrito*********************************/

.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.231);
}

.navbar-logo{
    justify-content: start;
    margin-left: 20px;
    color: rgb(212, 160, 63);
     font-family: 'Bebas Neue', sans-serif;
     text-shadow: 1px 1px 1px black;
     font-weight: bold;
    margin-top: 4vh;
    cursor: pointer;
}

.ver-carrito{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

.banner-carrito{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(../image/gato-guiño.jpg);
}

.banner-container{
    text-align: center;
    padding: 15% 0;

}

.banner-carrito h3{
    margin: 0;
    color: rgb(217, 147, 16);
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 3px 3px 3px orangered;
    font-weight: bold;

}

.banner-carrito p{
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(232, 232, 148);
    opacity: 0.7;
    text-shadow: 1px 1px 1px orangered;
}


/***************************CARRITO Y SU CONTENIDO**********************/

.contenido-carrito ul{
    display: flex;
    justify-content: space-around;
    margin: 1rem;

}

.productos-principal{
    background-color: rgba(128, 128, 128, 0.42);
    margin: 1rem;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal{
    text-align: center;
    color: rgb(234, 236, 97);
    font-weight: 900;
    font-family: 'Instrument Serif', serif;
    background-color: black;
    padding-inline: 2rem;
    font-size: 1.5rem;
}

.btn-comprar{
    border: 0;
    border-radius: 1rem;
    background-color: black;
    border: 1px solid black;
    font-weight: 500;
    color: burlywood;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.25rem;
    cursor: pointer;
}

.btn-comprar:hover{
    background-color: yellow;
    color: black;
}

.btn-categoria{
    background-color: black;
    border: 0;
    color: burlywood;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.25rem;

}




.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
    
}

.producto-detalles{
    background-color:rgba(0, 0, 0, 0.512);
    color: rgb(234, 236, 97);
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.producto-titulo{
    font-size: 1rem;
    font-family: 'Instrument Serif', serif;
    font-size: 1.5rem;
}

.producto-precio{
    font-family: 'Instrument Serif', serif;
    font-size: 1.5rem;
}

.modal-header{
    max-width: 100%;
    background-color: rgb(90, 81, 81);
    gap: 1rem;
    border-radius: 30px;
    margin: 1rem;
    
}

.modal-header img{
    width: 100px;
    border-radius: 20px;
}

.modal-body{
    background-color: black;
    color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.modal-body h3{
    font-size: 1rem;
    text-align: center;
    font-family: 'Instrument Serif', serif;
    margin: 0.5rem;

}

.modal-body p{
    font-family: 'Instrument Serif', serif;
    font-weight: 900;
}

.total-contenido{
    background-color: burlywood;
    padding: 1.5rem;
    border-radius: 3rem;
    margin: 0.5rem;
    font-weight: 600;
    font-family: 'Instrument Serif', serif;
    font-size: 1.5rem;

}

.modal-header-btn{
    background-color: antiquewhite;
    color: red;
    border: 0;
    border-radius: 20px 10px;
    padding: 0.5rem;
    cursor: pointer;
}

.modal-header-titulo{
    color:burlywood;
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    font-family: 'Instrument Serif', serif;

}

.delete-producto{
    cursor: pointer;
}

.cantidad-carrito{
    background-color: yellow;
    color: black;
    border: 2px solid black;
    font-weight: 700;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;

}

/**********************************FOOTER*********************************************/


footer{
    background-color: black;
}

.footer-logo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.3rem;
}

footer h4{
    color: rgb(238, 238, 131);
    font-family: 'Phudu', cursive;
    font-weight: 400;
    text-shadow: 1px 1px 1px yellow;

}

footer img{
    width: 30px;
}

.footer-items{
    margin: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-items a {
    color: rgb(234, 234, 150);
    font-weight: 400;
    font-family: 'Bebas Neue', sans-serif;


}

.footer-items a:hover{
    color: yellow;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px;

}



/************************MEDIAQUERIES***********************************************/

@media screen and (min-width: 320px) and (max-width: 480px) {


    .banner{
        margin: 0;
        border-radius: 0;
    }

    .titulo-logo h1{
        font-size: 2rem;
        font-weight: 400;
    
    }
    
    .titulo-logo img{
        width: 30px;
    }

    .cartel-gatitos{
        display: flex;
        flex-direction: column;
        margin: 0.2rem;
    }
    
    

    .cartel-gatitos img{
        width: 300PX;

}

.dona{
margin: 0.2rem;
}

.dona h3{
    font-size: 1.2rem;
}

.dona p{
    font-size: 0.8rem;
}

.btn-productos{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    
    }

.nuevos-ingresos{
    margin: 0.2rem;
    border-radius: 5px;
}

    .nuevos-ingresos h3{
        font-size: 1.2rem;
        font-weight: 800;
    }
    
    .contenedor-nuevos-amigos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .adoptar{
        margin: 0.2rem;
        border-radius: 5px;
        padding: 0.8rem;
    }

    form{
        margin: 0.5rem;
    }
   

   

}